{{page-title "Guidelines"}}
{{outlet}}

<div class="designation-details">
  <h1>{{this.model.designationObject.naam}}</h1>
  <p><strong>Type:</strong> {{this.model.designationObject.type.naam}}</p>
  <p><strong>Status:</strong>
    {{this.model.designationObject.status.status.naam}}
    (since
    {{date-format this.model.designationObject.status.datum "DD/MM/YYYY"}})</p>
  <p><strong>Description:</strong>
    {{this.model.designationObject.korte_beschrijving}}</p>
  <p><strong>Location:</strong>
    {{this.model.designationObject.locatie_samenvatting}}</p>
</div>

<div class="guidelines-lists">
  <div class="guidelines-box">
    <h2>Do's (stub data)</h2>
    <ul>
      <li>Interior Painting.</li>
      <li>Flooring Updates.</li>
      <li>Window Replacement with Similar Style.</li>
      <li>Landscaping.</li>
      <li>Updating Plumbing Fixtures.</li>
    </ul>
  </div>

  <div class="guidelines-box">
    <h2>Don'ts (from the triplestore)</h2>
    <ul>
      {{#each this.model.annotations as |annotation|}}
        <li>{{annotation.body}}</li>
      {{/each}}
    </ul>
  </div>
</div>