<div class="welcome-container">
  <main>
    <h1>Ready to transform your home?</h1>
    <p>Have questions about your renovation plans? We're here to help! With our
      service, you’ll get all the guidance you need to turn your vision into
      reality!</p>
    <button type="button" {{on "click" this.openPopup}}>Get in Touch</button>
  </main>

  {{#if this.isPopupOpen}}
    <div>hallo daar</div>
    <div class="modal-overlay">
      <div class="my-modal">
        <h2>Choose a Designation Object</h2>
        <input
          type="text"
          placeholder="Search for location"
          {{on "input" (perform this.searchTask value="target.value")}}
        />
        <button type="button" {{on "click" this.closePopup}}>Close</button>

        <div class="search-results">
          {{#each this.searchResults as |result|}}
            <div>
              <LinkTo @route="guidelines" @model={{result.id}}>
                <strong>{{result.naam}}</strong>
                -
                {{result.locatie_samenvatting}}
              </LinkTo>
            </div>
          {{/each}}
        </div>

      </div>
    </div>
  {{/if}}
</div>