<div class="welcome-container">
  <main>
    <h1>Ready to transform your home?</h1>
    <p>Have questions about your renovation plans? We're here to help! With our
      service, you’ll get all the guidance you need to turn your vision into
      reality!</p>
    <button type="button" {{on "click" this.openPopup}}>Get in Touch</button>
  </main>

  {{#if this.isPopupOpen}}
    <div>hallo daar</div>
    <div class="modal-overlay">
      <div class="my-modal">
        <h2>Choose location of interest</h2>
        <input
          type="text"
          placeholder="Search for location"
          {{on "input" (perform this.searchTask value="target.value")}}
        />
        <button type="button" {{on "click" this.closePopup}}>Close</button>
        <button type="button" {{on "click" this.submitAddress}}>Submit</button>

        <ul class="search-results">
          {{#each this.searchResults as |result|}}
            <li {{on "click" (fn this.selectResult result)}}>
              <strong>{{result.naam}}</strong>
              -
              {{result.locatie_samenvatting}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>